div {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    background-color: white;
}


/* Posicionamiento relativo - Se posiciona en relación al posicionamiento original */
.relative {
    position: relative;
    left: 80px;
    margin-left: 10px;
}

/* Posicionamiento fijo - se posiciona en realación a la pantalla */
.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: greenyellow;
}

/* Posicionamiento absoluto */
.absolute {
    position: absolute;
    bottom: 30px;
    right: 0px;
}

.relative.container {
    width: 500px;
    height: 600px;
    background-color: blue;
}

/* Posicionamiento "pegajoso" -Al hacer scroll modifica su posicionamiento relative->fixed */
.sticky {
    position: sticky;
    background-color: darksalmon;
    color: white;
    top: 0px;
    z-index: 2;
}