h1 {
    color: aquamarine;
}

/* Estoy probando colores y fuentes */
p {
    color: blue;
    font-size: 16px;
}

#primera-noticia {
    color: green;
    font-size: 12px;
}

#segunda-noticia {
    color: darkorchid;

}

.encabezado {
    font-size: 24px;
    text-transform: uppercase;
}

* .warning {
    color: red;
}

.autor, .fecha, .ubicacion {
    text-decoration: underline;
}