h1 {
    color: red;
    font-size: 4rem;
}

p {
    color: #333;
    font: 2rem;
}

/* @media screen and (max-width: 576px) { */
   
/* @media (max-width:576) { 

    h1 {
        color: blue;
    }
} */


@media (min-width: 576px) {
    h1 {
        color: green;
    }
}

@media (min-width: 995px) {
    h1 {
        color: blue;
    }
}

@media (min-height: 300px), (min-width:1100px) {
    p {
        color: cyan;
    }
}

@media (orientation: landscape)  and (min-height:400px){
    p {
        color: brown;
    }
}